/*Store this code in 'style.css' file inside the 'static' folder*/

.logincontent{
	margin: 0 auto;
	height: 500px;
	width: 400px;
	background-color: #0ad5f0bf;
	border-radius: 11px;
	margin-top: 50px;
	border-style: solid;
  	border-color: #131412;
}

.registercontent{
	margin: 0 auto;
	height: 1120px;
	width: 550px;
	background-color: #0ad5f0bf;
	border-radius: 10px;
	margin-top: 25px;
	border-style: solid;
	border-color: #131412;
	margin-bottom: 25px;
}

.updateregistercontent{
	margin: 0 auto;
	height: 620px;
	width: 550px;
	background-color: #0ad5f0bf;
	border-radius: 10px;
	margin-top: 25px;
	border-style: solid;
	border-color: #131412;
	margin-bottom: 25px;
}

.registerresults{
	margin: 0 auto;
	height: 275px;
	width: 550px;
	background-color: #0ad5f0bf;
	border-radius: 10px;
	margin-top: 25px;
	border-style: solid;
	border-color: #131412;
	margin-bottom: 25px;
}

.subscriptionadmin{
	margin: 0 auto;
	height: 500px;
	width: 600px;
	background-color: #0ad5f0bf;
	border-radius: 10px;
	margin-top: 25px;
	border-style: solid;
	border-color: #131412;
	margin-bottom: 25px;
}

.logintop{
	height: 60px;
	width: 400px;
	background-color: #0ad5f0bf;
	color: #ffffff;
}

.registertop{
	height: 60px;
	width: 550px;
	background-color: #0ad5f0bf;
	color: #ffffff;
}

.textbox{
	padding: 10px 40px;
	background-color: #9dcff3;
	border-radius: 10px;
}

::placeholder {
	color: #FFFFFF;
	opacity: 1;
	font-style: oblique;
	font-weight: bold;
}

.btn {
	padding: 10px 40px;
	background-color: #0f100f;
	color: #FFFFFF;
	font-style: oblique;
	font-weight: bold;
	border-radius: 10px;
}

.worddark{
	color: #120f0f;
	font-style: oblique;
	font-weight: bold;
}

.loginsubheading{
	color: #120f0f;
	font-weight: bold;
}

.admindatakey{
	color: #120f0f ;
	font-weight: bold;
}
.admindata{
	color: #ed11d3;
	font-weight: bold;
}

.admintaskdiv{
	margin: 0 auto;
	height: 30px;
	width: 200px;
	background-color: #dcdcebfb;
	border-radius: 10px;
	margin-top: 20px;
	border-style: solid;
	border-color: #131412;
}

.Registerfail{
	color: #e60e0e;
	font-weight: bold;
}

.Registersuccess{
	color: #be0f78;
	font-weight: bold;
}

.masterloginfail{
	color: #e60e0e;
	font-weight: bold;
}



.wordlight{
	color: #FFFFFF;
	font-style: oblique;
	font-weight: bold;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

.one{
	display: flex;
	position: relative;
}

.one .two{
	width: 225px;
	height: 100%;
	background: #92c4f3;
	padding: 30px 0px;
	position: fixed;
}

.one .two h1{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	font-style: oblique;
	font-weight: bold;
}
		
.one .two h2{
	color: #fff;
	text-align: center;
}
		
.one .two .active{
	background: #92c4f3;
}

.one .two ul li{
	text-align: center;
	padding: 15px;
	border-bottom: 0.1px solid white;
	border-top: 0.1px solid white;
}

.one .two ul li a{
	color: #ffffff;
	display: block;
}

.one .two ul li a .side{
	width: 25px;
	align: center;
}

.one .content{
	width: 100%;
	margin-left: 200px;
}

.one .content .topbar{
	text-align: center;
	padding: 20px;
	background: #92c4f3;
	color: white;
}
		
.one .content .contentbar{
	margin: auto;
}

.one .content .contentbar h1{
	color: #92c4f3;
	text-align: center;
	font-style: oblique;
	font-weight: bold;
}
