<!--Store this code in 'display.html' file inside the 'templates' folder-->

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>display</title>
		<link rel="stylesheet" href="../static/style.css">
		<style>
			table,
			th,
			td {
				border: 1px solid black;
			}
			 
			table {
				border-spacing: 5px;
			}
		</style>
	</head>
	<body bgcolor="#e6ffee">
			<div class="displayregistercontent" align="center">
				<br>
				<br>
				<h1>Hospital Registration Data</h1>	
				<br>
				<br>
					<table style="width:80%">
						<tr>
							<td class="admindatakey">Hospital ID:</td>
							<td class="admindata">{{ account['hospitalid'] }}</td>
						</tr>
						<tr>
							<td class="admindatakey">Password:</td>
							<td class="admindata">{{ account['password'] }}</td>
						</tr>
						<tr>
							<td class="admindatakey">Email ID:</td>
							<td class="admindata">{{ account['email'] }}</td>
						</tr>
						<tr>
							<td class="admindatakey">Hospital Name:</td>
							<td class="admindata">{{ account['hospitalname'] }}</td>
						</tr>
						<tr>
							<td class="admindatakey">Hospital Owner Name:</td>
							<td class="admindata">{{ account['ownername'] }}</td>
						</tr>
						<tr>
							<td class="admindatakey">Address:</td>
							<td class="admindata">{{ account['address'] }}</td>
						</tr>
						<tr>
							<td class="admindatakey">City:</td>
							<td class="admindata">{{ account['city'] }}</td>
						</tr>
						<tr>
							<td class="admindatakey">State:</td>
							<td class="admindata">{{ account['state'] }}</td>
						</tr>
						<tr>
							<td class="admindatakey">Country:</td>
							<td class="admindata">{{ account['country'] }}</td>
						</tr>
						<tr>
							<td class="admindatakey">Postal code:</td>
							<td class="admindata">{{ account['postalcode'] }}</td>
						</tr>	
						<tr>
							<td class="admindatakey">Phone Number:</td>
							<td class="admindata">{{ account['phonenumber'] }}</td>
						</tr>		
						<tr>
							<td class="admindatakey">Date of Subscription:</td>
							<td class="admindata">{{ account['dateofsubscription'] }}</td>
						</tr>	
						<tr>
							<td class="admindatakey">PAN:</td>
							<td class="admindata">{{ account['pan'] }}</td>
						</tr>	
						<tr>
							<td class="admindatakey">Adhaar:</td>
							<td class="admindata">{{ account['adhaarcard'] }}</td>
						</tr>	
						<tr>
							<td class="admindatakey">GSTIN:</td>
							<td class="admindata">{{ account['gstin'] }}</td>
						</tr>
					</table>	
					<br>
				    <br>
					<ul>
						<div class="admintaskdiv" align="center">
						<li><a href="{{url_for('adminindex')}}">Back</a></li>
					   </div>
					</ul>
			</div>
	</body>
</html>
