<!--Store this code in 'register.html' file inside the 'templates' folder-->
<html>
	<head>
		<meta charset="UTF-8">
		<title> register </title>
		<link rel="stylesheet" href="../static/style.css">	
	</head>
	<body bgcolor="#f0e9ed">
		<div class="registercontent" align="center">
		    </br>
			</br>
				<h1>Subscribe Hospital Management</h1>
			</br>
			</br>
			<div class="registerbottom">
			<form action="{{ url_for('register')}}" method="post" autocomplete="off">
			<div class="msg">{{ msg }}</div>
			<input type="email" name="email" placeholder="Your Email ID" class="textbox" id="email" required></br></br>
			<input type="text" name="hospitalname" placeholder="Your Hospital name" class="textbox" id="hospitalname" required></br></br>
			<input type="password" name="password" placeholder="Your Password" class="textbox" id="password" required></br></br>
			<input type="text" name="ownername" placeholder="Hospital Owner name" class="textbox" id="ownername" required></br></br>
			<input type="text" name="address" placeholder="Your Hospital Address" class="textbox" id="address" required></br></br>
			<input type="text" name="city" placeholder="Your City" class="textbox" id="city" required></br></br>
			<input type="text" name="state" placeholder="Your State" class="textbox" id="state" required></br></br>
			<input type="text" name="country" placeholder="Your Country" class="textbox" id="country" required></br></br>
			<input type="text" name="postalcode" placeholder="Your Postal Code" class="textbox" id="postalcode" required></br></br>
			<input type="text" name="phonenumber" placeholder="Your Phone Number" class="textbox" id="phonenumber" required></br></br>
			<input type="date" name="dateofsubscription" placeholder="Date Of Subscribe" class="textbox" id="dateofsubscription" required></br></br>
			<input type="text" name="pan" placeholder="Your PAN Number" class="textbox" id="pan" required></br></br>
			<input type="text" name="adhaarcard" placeholder="Your Adhaar Number" class="textbox" id="adhaarcard" required></br></br>
			<input type="text" name="gstin" placeholder="Your GST Number" class="textbox" id="gstin" required></br></br>
		    </br>
			<input type="submit" class="btn" value="Register">
			</form>
		    </br>
		    </br>
			<p class="worddark">Already have account? <a class="worddark" href="{{ url_for('login')}}">Login here</a></p>
			</div>
		</div>
	</body>
</html>
