<!--Store this code in 'index.html' file inside the 'templates' folder-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>

	<body bgcolor="#e6ffee">
		<div class="subscriptionadmin" align="center">
			    </br>
		        </br>
			    <h1>Welcome to Hospital Receptionist Administration</h1>	
				<br>
			    </br>
				<table>
					<tr>
					  <td class="admindatakey">Hospital ID:</td>
					  <td class="admindata">{{ msg['hospitalid'] }}</td>
					</tr>
					<tr>
						<td class="admindatakey">Staff ID:</td>
						<td class="admindata">{{ msg['staffid'] }}</td>
					</tr>
					<tr>
						<td class="admindatakey">Staff Name:</td>
						<td class="admindata">{{ msg['staffname'] }}</td>
					</tr>
					<tr>
						<td class="admindatakey">Staff Role:</td>
						<td class="admindata">{{ msg['role'] }}</td>
					</tr>
				  </table>
                <br>
				<div class="admintaskdiv" align="center">
				<li><a href="{{url_for('createappointment')}}">Create Appointment</a></li>
				</div>
				<div class="admintaskdiv" align="center">
				<li><a href="{{url_for('displaymasterupdate')}}">Update Appointment</a></li>
				</div>
				<div class="admintaskdiv" align="center">
					<li><a href="{{url_for('registerstaff')}}">View Today's Appointment</a></li>
				</div>
				<div class="admintaskdiv" align="center">
					<li><a href="{{url_for('staffupdatedisplaymaster')}}">Delete Appointment</a></li>
				</div>
				<div class="admintaskdiv" align="center">
				<li><a href="{{url_for('logout')}}">Log out</a></li>
				</div>
				<br>
		</div>
	</body>
</html>
